.contact-block {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: "#fff";
  border: "none";
  border-radius: "8px";
  overflow: hidden;
}

.card-text {
  margin-bottom: 15px;
}

.left-contact-block {
  border-right: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Small devices (sm) - 576px and up */
@media (min-width: 576px) {}

/* Medium devices (md) - 768px and up */
@media (min-width: 768px) {
  .left-contact-block {
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important
  }
}